<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whichow.deskqlive.rezero" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:isGame="true"
        android:appCategory="game"
        android:label="@string/app_name"
        android:persistent="true"
        android:theme="@style/GdxTheme" >
        <activity
            android:name=".AndroidLauncher"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QLiveApp"
            android:screenOrientation="portrait"
            android:excludeFromRecents="true"
            android:theme="@android:style/Theme.Light.NoTitleBar"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize|screenLayout">
        </activity>
        <service android:name=".QLiveService" />
        <receiver android:name=".SwitchButtonListener" />
    </application>

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
</manifest>
